.history {
  &__show {
    margin-top: 0;
    justify-content: space-between;
  }

  &__description {
    flex-direction: column;
  }

  &__actions {
    margin-bottom: 0;
  }

  &__details {
    display: flex;
  }

  &__time {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
