.warning {
  min-height: 335px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  & .placeholder {
    margin-bottom: var(--indent-m);
    margin-top: var(--indent-m);
  }

  &__content {
    flex-direction: column;
    align-items: center;
  }
}
