.brand-logo {
  &_name {
    &_blue {
      background: #5DCDF9;
    }

    &_green {
      background: #23B324;
    }

    &_red {
      background: #FF3333;
    }

    &_purple {
      background: #C62CFF;
    }
  }

  &_size {
    &_xxs {
      height: 24px;
      width: 24px;
    }

    &_xs {
      height: 32px;
      width: 32px;
    }

    &_s {
      height: 40px;
      width: 40px;
    }

    &_m {
      height: 60px;
      width: 60px;
    }

    &_l {
      height: 80px;
      width: 80px;
    }
  }
}
