.informer {
  &_border_all {
    border: 3px solid var(--border-color);
  }

  &_view_default {
    background: var(--main-color);
  }

  &__content,
  &__action {
    &_distribute {
      &_default {
        display: flex;
      }

      &_between {
        display: flex;
        justify-content: space-between;
      }

      &_center {
        display: flex;
        justify-content: center;
      }
    }

    &_space-a {
      &_xl {
        padding: var(--indent-xl);
      }

      &_xxl {
        padding: var(--indent-xxl);
      }
    }
  }
}
