$sizes: (
  "s": 24px,
  "m": 32px,
  "l": 42px,
  "xl": 56px,
  "xxl": 64px
);

.input {
  border: 3px solid var(--border-color);

  @each $size, $height in $sizes {
    &_size_#{$size} {
      height: $height;
    }
  }
}
