.text {
  &__word {
    display: inline-block;
  }

  &_align_center {
    text-align: center;
  }

  &_type {
    &_h1 {
      margin: 18px 0 24px;
    }

    &_h2 {
      margin: 45px 0 21px;
    }

    &_h3 {
      margin: 42px 0 0;
    }

    &_p {
      margin: 15px 0 21px;
    }
  }

  @each $type in (primary, secondary, ghost, link) {
    &_view_#{$type} .text__word {
      background: var(--text-color-#{$type});
    }
  }

  @each $height, $widths in
    ("s": ("s": 20px, "m": 48px, "l": 100px),
    "m": ("s": 24px, "m": 56px, "l": 114px),
    "l": ("s": 28px, "m": 68px, "l": 138px),
    "xl": ("s": 32px, "m": 74px, "l": 154px),
    "xxl": ("s": 36px, "m": 88px, "l": 184px)) {
    &_size_#{$height} {
      line-height: var(--line-height-#{$height});

      & .text__word {
        height: var(--font-size-#{$height});

        @each $width, $value in $widths {
          &_width_#{$width} {
            width: $value;
          }
        }
      }
    }
  }
}
