.theme {
  background-color: var(--main-color);

  &_color {
    &_project-default {
      --main-color: #FFFFFF;
      --accent-color: #FFCC00;
      --border-color: #000000;
      --text-color-primary: #000000;
      --text-color-secondary: rgba(0, 0, 0, 0.6);
      --text-color-ghost: rgba(0, 0, 0, 0.3);
      --text-color-link: #0077FF;
    }

    &_project-brand {
      --main-color: #0077FF;
      --accent-color: #FFFFFF;
      --border-color: #FFFFFF;
      --text-color-primary: #FFFFFF;
      --text-color-secondary: rgba(255, 255, 255, 0.6);
      --text-color-ghost: rgba(255, 255, 255, 0.3);
      --text-color-link: #FFFFFF;
    }

    &_project-inverse {
      --main-color: #000000;
      --accent-color: #FFFFFF;
      --border-color: #FFFFFF;
      --text-color-primary: #FFFFFF;
      --text-color-secondary: rgba(255, 255, 255, 0.6);
      --text-color-ghost: rgba(255, 255, 255, 0.3);
      --text-color-link: #0077FF;
    }

    &_project-warning {
      --main-color: #FF3333;
      --accent-color: #FFFFFF;
      --border-color: #FF3333;
      --text-color-primary: #FFFFFF;
      --text-color-secondary: rgba(255, 255, 255, 0.6);
      --text-color-ghost: rgba(255, 255, 255, 0.3);
      --text-color-link: #FFFFFF;
    }
  }

  &_size_default {
    --font-size-s: 8px;
    --font-size-m: 10px;
    --font-size-l: 11px;
    --font-size-xl: 13px;
    --font-size-xxl: 16px;
    --line-height-s: 21px;
    --line-height-m: 25px;
    --line-height-l: 28px;
    --line-height-xl: 34px;
    --line-height-xxl: 38px;
  }

  &_space_default {
    --indent-xxxs: 3px;
    --indent-xxs: 6px;
    --indent-xs: 9px;
    --indent-s: 15px;
    --indent-m: 18px;
    --indent-l: 24px;
    --indent-xl: 27px;
    --indent-xxl: 36px;
    --indent-xxxl: 45px;
    --indent-xxxxl: 51px;
    --indent-xxxxxl: 72px;
  }

  &_gap_small {
    --gap: var(--indent-xl);
  }
}
